extends layout 

block content
  .nav 
    h1 Club House 
    a(href='/home') Home
    a(href="/log-out") Log out 
    a(href="/create-message") + Create Message
  .header
    h1 Welcome to the Clubhouse!
  .main
    if (messages)
      div.container
        each message in messages
          .msg-card 
            h1 #{message.title}
            p #{message.text}
            p #{message.timestamp}
            if (user.member == true)
              h3 #{message.user.username}