extends layout

block content
  .nav 
    h1 Club House 
    a(href='/club') Home
    a(href='/club/messages') Messages 
    a(href='//club/members') Members
    a(href="/log-out") 
              li Log out 

  .section 
    h1 Welcome to the Club house