extends layout

block content
  .nav 
    h1 HomePage 
    a(href='/home') Home
    a(href="/log-out") Log out 
    a(href="/create-message") + Create Message
    a(href='/clubhouse') Enter Club House

  .header
    h1 Welcome to the Club house #{user.username}

  .main
   if (messages)
    .container
      each message in messages
        .msg-card 
          h1 #{message.title}
          p #{message.text}
          p #{message.timestamp}
          if (user.member == true)
            h3 Anonymous