extends layout

block content
  .nav 
    h1 Club House 
    a(href='/') Home
    a(href='/') Messages 
    a(href='/') Members
  .login
    h1=title
    form(action='/log-in' method='POST')
      label(for='username') Username 
      input#username(type='text' placeholder='Email/Username' name='username' required='true' value='')
      label(for='password') Password 
      input#password(type='password' placeholder='Password' name='password' required='true')
      button(type='submit') Submit
    p Not a member?  
      a(href='/') Sign up
    if (errors)
      p #{errors}
    