extends layout 

block content
  .nav 
    h1 Club House 
    a(href='/') Home
    a(href='/') Messages 
    a(href='/') Members
  .container
    h1 Answer the question to become a member of the club 
    h2 What was the name of the first rover on Mars?
    form(action='/clubhouse' method='POST')
        if(answerError)
          h3 #{answerError}
        input(type='text' placeholder='Answer' name='answer' for='answer' required='true')
        button(type="submit") Submit